@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    box-sizing: border-box;
}






body {
    background-color: #bdb8d3;
    font-family: Montserrat, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    min-height: 100vh;
    margin: 0;
}

.main {
    display: flex;
    gap: 2rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 2rem;
}

h3 {
    margin: 10px 0;
}

h6 {
    margin: 5px 0;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    line-height: 21px;
}

h3,
h6,
p {
    color: #1F1A36;
}

.card-container {
    background-color: #d4d3d8;
    border-radius: 10px;

    color: #B3B8CD;
    padding-top: 30px;
    position: relative;
    width: 350px;
    max-width: 100%;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.card-container .round {

    border: 2px solid #04abb7;
    border-radius: 50%;
    padding: 1px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;



}

.card.card-container img {
    width: 150px;
    height: 150px;
}

.buttons :nth-child(2) {
    margin-left: 2.6rem;

}

.media {
    cursor: pointer;
}

.skills {
    background-color: #1F1A36;
    text-align: left;
    padding: 15px;
    margin-top: 30px;
}

.skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills ul li {
    border: 1px solid #2D2747;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    margin: 0 7px 7px 0;
    padding: 7px;
}